#about-nqd {
	border-radius: 0;
	background-image: url('../images/themes/Background-red.jpg');
	color: white;
	padding-bottom: 1rem;
	padding-left: 0;
	padding-right: 0;
}

#about-nqd #since {
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.8rem;
}

#about-nqd .content-box {
	text-align: justify;
	font-size: 1rem;
}

#about-nqd .about-image {
	border-radius: 10%;
	border: 0.1rem solid white;
}