.red-border-table,
.red-border-table th,
.red-border-table td {
  border-color: var(--red) !important; /* Màu đỏ cho border */
}

.orange-border-table,
.orange-border-table th,
.orange-border-table td {
  border-color: var(--orange) !important; /* Màu cam cho border */
}

.contestant img {
  aspect-ratio: 2 / 3;
  border-radius: 10%;
}

.contestant p {
  font-size: 0.8rem;
}

.contestant-winner {
  background-color: var(--yellow);
  color: var(--red);
  font-weight: bold;
}

.contestant-second-winner {
  color: var(--orange);
  font-weight: bold;
}

.final > div p {
  font-size: 0.8rem;
}